## Portfolio Constuction

| 섹터                    | ETF명                                                | Yahoo Finance 티커 |
|-------------------------|------------------------------------------------------|---------------------|
| Communication Services  | Communication Services Select Sector SPDR Fund      | XLC                 |
| Consumer Discretionary  | Consumer Discretionary Select Sector SPDR Fund      | XLY                 |
| Consumer Staples        | Consumer Staples Select Sector SPDR Fund            | XLP                 |
| Energy                  | Energy Select Sector SPDR Fund                      | XLE                 |
| Financials              | Financial Select Sector SPDR Fund                   | XLF                 |
| Health Care             | Health Care Select Sector SPDR Fund                 | XLV                 |
| Industrials             | Industrial Select Sector SPDR Fund                  | XLI                 |
| Materials               | Materials Select Sector SPDR Fund                   | XLB                 |
| Real Estate             | Real Estate Select Sector SPDR Fund                 | XLRE                |
| Technology              | Technology Select Sector SPDR Fund                  | XLK                 |
| Utilities               | Utilities Select Sector SPDR Fund                   | XLU                 |

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
TICKERS = ['XLC','XLY','XLP','XLE','XLF','XLV','XLI','XLB','XLRE','XLK','XLU']

data = yf.download(
    tickers = TICKERS,
    start = '2015-01-01',
    interval = '1d',
    progress = False,
    multi_level_index = False,
    auto_adjust = False
)['Close']

In [3]:
data

Ticker,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,,
2015-01-02,48.650002,NaN,79.529999,20.089357,56.509998,41.270000,48.349998,NaN,47.439999,68.629997,71.629997
2015-01-05,47.410000,NaN,76.239998,19.666937,55.189999,40.639999,48.009998,NaN,46.860001,68.279999,70.260002
2015-01-06,46.990002,NaN,75.120003,19.366369,54.509998,40.150002,47.950001,NaN,46.889999,68.050003,69.559998
2015-01-07,47.520000,NaN,75.279999,19.569456,54.919998,40.490002,48.770000,NaN,47.349998,69.650002,70.660004
2015-01-08,48.650002,NaN,76.970001,19.861900,56.020000,41.380001,49.509998,NaN,47.680000,70.839996,71.720001
...,...,...,...,...,...,...,...,...,...,...,...
2025-04-03,83.080002,92.529999,86.739998,47.689999,125.849998,195.229996,82.019997,40.820000,78.919998,143.130005,191.029999
2025-04-04,77.879997,87.230003,78.760002,44.200001,117.940002,182.369995,78.459999,38.959999,74.529999,135.279999,182.789993
2025-04-07,76.629997,87.349998,78.250000,44.090000,117.389999,183.460007,77.550003,38.020000,73.389999,134.470001,180.630005
2025-04-08,74.269997,86.129997,76.440002,43.919998,116.419998,179.729996,76.349998,37.080002,73.089996,132.979996,176.339996
2025-04-09,74.099998,NaN,NaN,NaN,NaN,181.289993,76.300003,36.419998,NaN,NaN,NaN

### 1. Equal Weighted Portfolio

### 2. Price Weighted Portfolio

### 3. Market Capital Weighted Portfolio

### 4. Fundamental Weighted Portfolio

### 5. Alternative Weighted Portfolio